@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header {
    color: black;
    font-family: Abril Fatface;

}

body {
    display: flex;
    align-items: center;
    background-color: #eee;
    font-family: Source Sans Pro;
    color: #777;
    margin-left: 50px;
    margin-top: 50px;
    justify-content: center;

}

nav li {

    display: inline-block;
    padding: 1px 4px;
    width: evenly-space;

}

.stickyNavbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;

}

a {
    text-decoration: none;
    color: #777;

}

hr {
    height: 0px;
    width: 100%;
    color: white;
}

.newspaper-container {
    width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: #ddd;
    padding: 10px;
}

main {
    font-family: #dd3232;
}

.more-articles {
    p {
        width: 100%;
    }
}